<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-awsiot-plugin" version="1.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>AWSIoTPlugin</name>
	<js-module name="AWSIoTPlugin" src="www/AWSIoTPlugin.js">
		<clobbers target="cordova.plugins.AWSIoTPlugin" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="AWSIoTPlugin">
				<param name="android-package" value="cordova-awsiot-plugin.AWSIoTPlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/AWSIoTPlugin.java" target-dir="src/cordova-awsiot-plugin/AWSIoTPlugin" />
	</platform>
</plugin>